:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

#root{
  width: 100%;
}

h1, h2, h3, h4, h5, h6{
  text-transform: capitalize;
}

h1, h2, h3, h4, h5, h6, img, button, svg{
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 400;
}

button {
  margin-right: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.hover_upload{
  position: relative;
}

.hover_upload:hover::after{
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='-3.5 -3 30 30' fill='none'%3E%3Cpath d='M10 16H14C14.55 16 15 15.55 15 15V9.99998H16.59C17.48 9.99998 17.93 8.91998 17.3 8.28998L12.71 3.69998C12.6175 3.60727 12.5076 3.53372 12.3866 3.48354C12.2657 3.43336 12.136 3.40753 12.005 3.40753C11.874 3.40753 11.7443 3.43336 11.6234 3.48354C11.5024 3.53372 11.3925 3.60727 11.3 3.69998L6.71 8.28998C6.08 8.91998 6.52 9.99998 7.41 9.99998H9V15C9 15.55 9.45 16 10 16ZM6 18H18C18.55 18 19 18.45 19 19C19 19.55 18.55 20 18 20H6C5.45 20 5 19.55 5 19C5 18.45 5.45 18 6 18Z' fill='white'/%3E%3C/svg%3E");
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 100%;;
}

svg{
  cursor: pointer;
}

.track-timeline{
  width: 100%;
}

.track-listened{
  background-color: rgb(75, 74, 74);
  height: 100%;
  align-self: start;
  border-radius: 10px;
}

.svg_small{
  height: 15px;
}

.svg{
  height: 20px;
}

.svg_medium{
  height: 30px;
}

.svg_big{
  width: 25px;
}

.flex{
  display: flex;
  align-items: center;
  gap: 2px 15px;
}

.sticky{
  position: sticky;
  left: 100%;
  top: 5px;
  z-index: 1;
}

.full_width{
  width: 100%;
}

.fixed{
  position: fixed;
  z-index: 2;
}

.bar{
  position: relative;
  margin: 20px 0px;
  display: flex;
  background-color: black;
  height: 8px;
  cursor: pointer;
  border-radius: 10px;
}

.volume-bar{
  width: 100px;
}

.volume-level{
  background-color: rgb(75, 74, 74);
  height: 100%;
  align-self: start;
  position: absolute;
  border-radius: 100px;
}

.handle{
  margin: 0px;
  width: 12px;    
  height: 12px;
  border-radius: 10px;
  justify-self: center;
  background-color: grey;
  position: absolute;
}

.align_center{
  align-items: center;
}

.aling_start{
  align-items: start;
}

.wrapper{
  box-sizing: border-box;
  background-color: #191414;
  border-radius: 10px;
  margin: 5px 12.5px 10px auto;
  box-shadow: 0px 10px 23px -4px rgba(0,0,0,0.8);
}

.default_padding{
  padding: 20px 40px;
}

.fullwidth{
  width: 100%;
}

.message_wrapper{
  width: 80%;
}

.profile_small{
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 10px;
}

.profile_medium{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}

.profile_large{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
}

.cover_medium{
  height: 200px;
  width: 200px;
  object-fit: cover;
  background-size: cover;
  border-radius: 10px;  
}

.cover_small{
  height: 100px;
  width: 100px;
  object-fit: cover;
  background-size: cover;
  border-radius: 7px; 
}

.cover_flexible{
  height: 100%;
  background-size: 100% !important;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
  padding-bottom: 5px;
  object-fit: cover;
  box-sizing: border-box;
  justify-content: space-around;
}

.grid{
  display: grid;
}

.gap{
  gap: 20px;
}

.space_between{
  align-items: space-between;
  justify-content: space-between;
  width: 100%;
}

.align-center{
  align-items: center;
}

.pinned{
  margin: 0 -10px 0 0;
}

.relative{
  position: relative;
}

textarea, input{
  box-sizing: border-box;
  border-radius: 100px;
  border: none;
  background-color: #000000;
  width: 100%;
}

textarea{
  padding: 12px 100px 0px 30px;
  resize: none;
}

input{
  height: 20px;
  padding: 0 10px;
}

.input_menu_wrapper{
  display: flex;
  gap: 10px;
  margin-left: -95px;
}

::placeholder{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.sendBtn{
  height: 20px;
  cursor: pointer;
  margin-top: 5px;
}

.emojiBtn{
  cursor: pointer;
  height: 25px;
  margin-top: 3px;
}

input:focus {
  outline: none;
}

.no_messages{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.chat-message{
  box-sizing: border-box;
  width: 100%;
  background-color: #000000;
  border-radius: 10px;
  padding: 5px 30px 0.1px 30px;
}

.chat-message p{
  white-space: pre-wrap;
  line-height: 1.5;
  font-weight: 200;
}

a{
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.chat_room h2, h4{
  margin: 15px 30px;
  line-height: 0.6;
}

.chat_room h6{
  line-height: 0;
  font-size: 10px;
  color: grey;
}

.chat_room{
  display: flex;
  flex-direction: column-reverse;
  height: 60vh;
  overflow-y: scroll;
  padding-right: 20px;
  margin-bottom: 20px;
}

.emoji_bar{
  padding: 13px 20px;
  position: absolute;
  bottom: 35px;
  right: 50px;
  width: 220px;
  height: 150px;
}

.emoji_bar .flex{
  gap: 0px;
}

.emoji_list{
  margin-top: 9px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow-y: scroll;
  width: 100%;
  height: 65px;
  box-sizing: border-box;
}

.emoji_list p{
  line-height: 5px;
}

.flex_column{
  flex-direction: column;
}

.categories{
  margin-top: 5px;
}

.categories span{
  padding: 2px;
}

.categories .selected{
  background-color: black;
  border-radius: 3px;
}

.emoji_list::-webkit-scrollbar{
  width: 8px;
  background-color: #0f0c0c;
}

.side_menu_wrapper{
  display: flex;
  flex-direction: column;
  gap: 40px;
  box-sizing: border-box;
  height: 100%;
  padding: 20px 50px 20px 35px;
  background-color: #191414;
  box-shadow: 0 0 10px #00000080;
  font-size: 13px;
  line-height: 0px;
  cursor: pointer;
}

.side_menu_wrapper img{
  border-radius: 100%;
}

.side_menu_wrapper svg{
  margin: 10px 8px;
}

.side_menu{
  display: flex;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 3;
}

.menu_item_wrapper{
  width: 100%;
  display: grid;
  gap: 20px;
  align-items: center;
  justify-content: start;
}

.player_wrapper{
  width: 100%;
  display: flex;
  gap: 30px;
}

.player_minimized{
  max-width: 700px;
  max-height: 280px;
  min-width: 520px;
  min-height: 100px;
  padding: 10px 65px 15px 20px;
  z-index: 4;
}

.player_minimized .grid{
  height: 100%;
  width: 100%;
  gap: 0px 20px;
  line-height: 10px;
  align-items: center;
  grid-template-columns: 42% 58%;
  grid-template-rows: repeat( 5, 1fr);
  grid-template-areas:
      "a b"
      "a c"
      "a d"
      "a e"
      "a f";
}

.player_minimized h2{
  line-height: 30px;
}

.player_default{
  padding: 20px 30px;
  display: flex;
  z-index: 3;
}

.player_default .flex{
  align-items: center;
}

.player_maximized{
  gap: 40px;
  width: 100%;
}

.min_layout{
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  gap: 0px 30px;
}

.min_layout .social_btns{
  margin-right: auto;
}

.min_layout .secondary_btns{
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.min_layout .main_btns{
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.min_layout h4{
  margin: 0px;
  line-height: 25px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.min_layout .flex {
  margin-top: 4px;
}

.player_minimized .overlay{
  grid-area: a;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 15px;
}

.player_minimized .volume-bar{
  grid-area: f;
  margin: 0px;
}

a{
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

h3{
  font-weight: 300;
  margin: 0px;
}

.minMaxBtn{
  right: 25px;
  top: 25px;
}

.draggable_handle{
  position: absolute;
  width: 22px;
  height: 22px;
  bottom: 3px;
  right: 3px;
  cursor: pointer;
}

.minMaxBtn{
  position: absolute;
  height: 15px;
  cursor: pointer;
}

.side_menu_expanded{
  width: auto;
  padding: 25px;
}

.share_menu_wrapper{
  box-sizing: border-box;
  position: absolute;
  padding: 13px 20px;
  width: 300px;
  height: 250px;
  top: 95%;
  left: 68%;
}

.post_wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 800px;
  z-index: 4;
}

.player_minimized .interaction_btns{
  grid-area: h;
  margin-bottom: 5px;
}

.slider_grid{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 60px;
  width: 100%;
  padding: 50px 40px 30px;
  margin-top: -25px;
  margin-left: -40px;
  margin-bottom: 30px;
  text-align: center;
  overflow-x: hidden;
}

.slider_wrapper{
  margin-top: 40px;
}

.slider_wrapper h2{
  margin-top: -2px;
}

.slider_wrapper .flex{
  align-items: start !important;
}

.slider_grid h5{
  margin: 10px;
}

.slider_image_wrapper{
  position: relative;
}

.slider_image_wrapper button{
  position: absolute;
  top: 75%;
  right: 8%;
}

.transparent_section{
  opacity: 0.5;
}

.hidden_items_grid{
  background-color: #1a1a1a;
}

.hidden_items_grid div{
  margin-top: -10px;
}

.hidden_items_section h2{
  margin-bottom: 30px;
}

.hidden_items_section button{
  padding-bottom: 25px;
}

.cover_wrapper{
  display: flex;
  box-sizing: border-box;
  justify-content: end;
  align-items: end;
  padding: 10px;
  margin-bottom: 20px;
}

.cover_wrapper button{
  font-size: 12px;
}

.btn_wrapper_left{
  position: absolute;
  z-index: 2;
  top: 140px;
}

.btn_wrapper_right{
  position: absolute;
  z-index: 2;
  top: 140px;
  right: -10px;
}

.user_data_grid{
  display: grid;
  grid-template:
  "a b b"
  "c c c";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 65px;
  align-items: center;
}

.user_data_grid h2{
  grid-area: a; 
}

.user_data_grid button{
  grid-area: b; 
}

.user_data_grid div{
  grid-area: c;
  display: flex;
  justify-content: space-between;
}

.svg_left_right{
  height: 25px;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.2));
}

.profile button{
  justify-self: end;
  margin: 0px;
  font-size: 12px;
}

.profile{
  padding-top: 60px;
}

::-webkit-scrollbar {
  width: 12px;
  border-radius: 100px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #3D3D3D;
  border-radius: 100px;
}

@media (prefers-color-scheme: light) {
  :root {
    display: grid;
    color: #ffffff;
    background-color: #000000;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


